@import url('common.css');

/* header style */
header {
  background: rgba(0,0,0, 0.2);
  height: 100px; /*1. header nav height 맞추기*/
  line-height: 100px; /*1. header nav height 맞추기*/
  width: 100%;
  position: fixed; /*이효과를 쓰면 가로가 깨져서 가로값을 설정해줘야함*/
  /*이효과를 써서 스크롤을 써도 화면에 고정*/
  /*이효과를 써서 header이 배경화면 위로 올라감*/
  top: 0;
  z-index: 9999;
}
header .inner-header {
  /* border: 3px solid tomato; */
  width: 84%;
  margin: 0 auto;
}

header .inner-header .logo {
  /* border: 3px solid violet; */
  float: left;
  width: 200px;
}
header .inner-header .logo img {
  width: 100%;
}

header .inner-header .gnb {
  /* border: 3px solid red; */
  float: left;
  margin-left: 80px;
}
header .inner-header .gnb li {
  /* border: 3px dashed yellow; */
  float: left;
  margin-right: 80px;
}
header .inner-header .gnb li a {
  /* background: red; */
  display: block;
  color: #fff;
  font-size: 16px;
}
header .inner-header .gnb li a:hover {
  color: #ff8342;
}

header .inner-header .tnb {
  /* border: 3px solid blue; */
  float: right;
  color: #fff;
  font-size: 16px;
}
header .inner-header .tnb li {
  float: left;
  margin-right: 25px;
}
header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i {
  margin-right: 8px;
  font-size: 18px;
}
header .inner-header .tnb li:last-child a {
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 30px;
}
header .inner-header .tnb li:last-child a:hover {
  background: #fff;
  color: #ff8342;
}
header .inner-header .tnb li:last-child i {
  margin-left: 5px;
}

header .inner-header .gnb-mobile { /*모바일버튼 일단숨기기*/
  display: none;
}

/* section.main style */
section.main {
  background: url(../img/vis_4.jpg) no-repeat center/cover fixed;
  height: 100vh; /*배경화면을 화면이 보이는 만큼*/
  position: relative; /*화면정중앙 기준이 될 부모박스*/
}

section.main .main-title {
  /* background: red; */
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 10px #123;
}
section.main .main-title h2 {
  font-size: 55px;
}
section.main .main-title p {
  font-size: 25px;
  margin: 20px 0;
}
section.main .main-title .view {
  font-size: 15px;
  letter-spacing: 2px;
  position: relative;
  display: block;

  width: 180px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 8px 0;
  overflow: hidden;
}
section.main .main-title .view::after {
  content: '';
  width: 0;
  height: 100%;
  background: rgba(255,255,255, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}
section.main .main-title .view:hover::after {
  width: 100%;
}

/* section > div.title 공통 style */
section .title {
  text-align: center;
}
section .title h2 {
  font-size: 45px;
  color: #111;
  margin-bottom: 5px;
}
section .title p {
  font-size: 18px;
  color: #555;
}

section .sub-container {
  /* background: tomato; */
  width: 74%;
  margin: 0 auto;
}

/* section.about style */
section.about {
  margin: 80px 0;
}
section.about ul.sub-container {
  /* background: orange; */
  margin-top: 30px;
  border-bottom: 2px solid #ddd;;
  padding-bottom: 30px;
}
section.about ul.sub-container li {
  /* border: 3px solid #000; */
  float: left;
  width: 33.333%;
  height: 510px;
}
section.about ul.sub-container li a:hover .img-box img {
  transform: scale(1.2);
}
section.about ul.sub-container li .img-box {
  /* border: 3px solid blue; */
  overflow: hidden;
}
section.about ul.sub-container li .img-box img {
  /* opacity: 0.3; */
  width: 100%;
  transition: 0.6s; /*hover 없는곳에 효과줘야함*/
}
section.about ul.sub-container li .text {
  /* border: 3px solid blue; */
  padding: 25px;
}
section.about ul.sub-container li .text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
section.about ul.sub-container li .text p {
  font-size: 16px;
  margin-bottom: 20px;
}
section.about ul.sub-container li .text .more {
  /*lowercase : 일괄 소문자 변경*/
  /*일괄 대문자로 바꾸기*/
  text-transform: uppercase; 
  font-weight: 700;
  /* border: 2px solid #000; */
  position: relative;
  padding-left: 40px;
  height: 30px;
}
section.about ul.sub-container li .text .more::before {
  content: '→';
  display: block;
  width: 30px;
  height: 30px;
  background: #ff8342;
  border-radius: 50%; /*50% 정사각형을 원으로*/
  position: absolute;
  left: 0;
  top: -7px;

  text-align: center; /*텍스트중앙정렬*/
  line-height: 30px; /*텍스트중앙정렬*/
}

/* 실습 section.innovation style */
section.innovation {
  margin: 80px 0;
}
section.innovation .title p {
  margin-bottom: 20px;
}
section.innovation .img-box {
  /* border: 1px solid #000; */
  height: 510px;
  background: url(../img/product_1.jpg);
  position: relative;
}
section.innovation .sub-container .inner {
  /* border: 1px solid #000; */
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}
section.innovation .sub-container .inner .en {
  background: #fff;
  padding: 20px;
}
section.innovation .sub-container .inner .bottom {
  background: #123;
  padding: 20px 60px;
  color: #fff;
}
section.innovation .sub-container .inner .bottom p {
  float: left;
}
section.innovation .sub-container .inner .bottom a {
  float: right;
  background: #ff8342;
  display: block;
  padding: 8px 0;
  width: 130px;
  text-align: center;
  border-radius: 40px;
}
section.innovation .sub-container .inner .bottom a:hover {
  background: #fff;
  color: #ff8342;
}

/* 실습 section.me style */
section.me {
  background: url(../img/me.jpg);
  border: 5px solid tomato;
  position: relative;
}
section.me .title {
  padding: 50px 0 30px; 
}
section.me .sub-container {
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  padding: 30px;
}
section.me .list .fa,
section.me .list .far {
  color: #ff8342;
  margin-right: 10px;
}

section.me .list li p {
  font-size: 12px;
  padding: 25px;
  line-height: 1.5;
}

section.me .list .more {
  display: block;
  font-weight: 700;
  padding: 0 25px 0px;
}
section.me .list li:first-child .more {
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px;
  margin-bottom: 20px;
}
section.me .list .in em {
  padding: 25px;
  font-weight: 700;
}
section.me .list .in em::after {
  display: block;
  background: orange;
}
section.me .list .in p {
  display: inline;
}
#incruit-btn {
  background: #ff8342;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  display: block;
  width: 250px;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
#incruit-btn:hover {
  background: #fff;
  color: #ff8342;
  border: 1px solid #ff8342;
}

/* 실습 section.sns style */
section.sns {
  /* background: orchid; */
  margin: 50px 0;
  position: relative;
}
section.sns .sub-container a {
  /* border: 5px solid #000; */
  float: left;
  width: 25%;
  height: 300px;
  margin: 2%;

}
section.sns .sub-container a .img-box {
  width: 30%;
  height: 300px;

}
section.sns .sub-container a .bottom {
  margin: 30px 10px;
  font-weight: 700;
}
section.sns .sub-container a .bottom .color {
  color: #ff8342;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;

}
section.sns .sub-container a .bottom .time {
  margin: 30px 0;
  color: #ddd;
}








